services:
  postgres:
    image: postgres:16-alpine
    container_name: factory-events-postgres
    environment:
      POSTGRES_DB: factory_events
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
